alembic==1.7.7
click==8.0.4
Flask==2.0.3
Flask-Admin==1.6.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
importlib-metadata==4.11.3
importlib-resources==5.4.0
itsdangerous==2.1.1
Jinja2==3.0.3
Mako==1.2.0
MarkupSafe==2.1.1
migrate==0.3.8
mysqlclient==2.1.0
SQLAlchemy==1.4.32
Werkzeug==2.0.3
WTForms==3.0.1
zipp==3.7.0
