<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/xeberler2.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Bank Respublika</title>
    <link rel="shortcut icon" type="image/png" href="../static/assets/favicon.png" />
</head>
<body>
    <div class="content">
        <div class="title">
            <h3>Bank Respublika bütün nominasiyalar üzrə qalib seçildi!</h3>
        </div>
        <div class="col">
            <div class="article"> 
                
            <div class="article2"> 
                <p style="text-align: center;"><img alt="" src="../static/assets/banner.jpg" style="width: 650px;"></p>
                <p><strong>Bakı, 28 fevral, 2022.</strong> Ötən həftə Azərbaycan Banklar Assosiasiyası ənənəvi&nbsp;“Bankçılıq Mükafatları – 2021” adlı tədbir keçirib və ölkə banklarını 2021-ci ildəki fəaliyyətinə görə mükafatlara layiq görüb.</p>
                <p>Bank Respublika tərəfindən həyata keçirilən layihələr bütün nominasiyalar üzrə qalib seçilərək 5 mükafat qazanıb:</p><br>
                <ul>
                    <li>Korporativ sosial məsuliyyət layihələri həyata keçirən ən fəal bank;</li>
                    <li>Ən fəal maliyyə savadlılığı dəstəkçisi;</li>
                    <li>Ən fəal təhsil dəstəkçisi;</li>
                    <li>Nağdsız ödənişlərin təşviqi sahəsində tədbirlərlə fərqlənən ən fəal bank;</li>
                    <li>Kiçik və Orta Biznesin maliyyə əlçatanlığının artırılması ilə əlaqədar tədbirlər keçirmiş ən fəal bank.</li>
                </ul>
            </div>    
        <div class="sosial">
                <h3>Sosial şəbəkələrdə paylaş</h3>
                <ul>
                <li><span><i class="fab fa-facebook"></i></span></li>
                <li><span><i class="fab fa-twitter-square"></i></span></li>
                <li><span><i class="fab fa-google-plus"></i></span></li>
                <li><span><i class="fab fa-linkedin"></i></span></li>
            </ul>
            </div>
</html>