<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/xeberler2.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Bank Respublika</title>
    <link rel="shortcut icon" type="image/png" href="../static/assets/favicon.png" />
</head>
<body>
    <div class="content">
        <div class="title">
            <h3>“Bank Respublika”nın 15 milyon manatlıq istiqrazı uğurla yerləşdirilib</h3>
        </div>
        <div class="col">
            <div class="article"> 
                
            <div class="article2"> 
                <p style="text-align: center;"><img alt="" src="../static/assets/banner2.jpg" style="width: 650px;"></p>
                <p><strong>Bakı, 18 fevral 2022. </strong> 18 fevral 2022-ci il tarixində Bakı Fond Birjasında ölkəmizin aparıcı maliyyə qurumlarından biri olan “Bank Respublika”-nin ümumi dəyəri 15 milyon manat olan istiqrazlarının yerləşdirilməsi üzrə hərrac yekunlaşıb.</p>
                <p>Hərrac zamanı Bankın emissiya etdiyi istiqrazlara investorlar tərəfindən göstərilən böyük maraq müşahidə olunub və keçirilmiş hərracda tələb təklifi 15,2% üstələyərək 17 milyon 283 min manat təşkil etmişdir.</p>
                <p>Rəqabətli hərrac üsulu ilə həyata keçirilən yerləşdirmədə 8 investor iştirak etmişdir və bütün emissiya edilən istiqrazlar investorlar tərəfindən alınmışdır. İstiqrazların kəsmə qiyməti 1000.00 AZN (8.5%) manat, orta ölçülmüş qiyməti 1000.00 AZN (8.5%) manat müəyyən edilmişdir. Sayı 15 min ədəd olan istiqrazların hər birinin nominal dəyəri 1000 manat, illik faiz dərəcəsi 8,5%, faizlərin ödəniş müddəti altı aydan bir, tədavül müddəti isə 2 ildir.</p>
                <p>İstiqrazların ödəmə tarixi 18.02.2024-cü ildir.</p>
                <p>Yerləşdirmə üzrə anderrayter "Paşa Kapital” İnvestisiya Şirkətidir.</p>
                <p>Qeyd edək ki, ötən ilin dekabr ayında “Bank Respublika”nın emissiya etdiyi 10 milyon manat məbləğində istiqrazlar BFB-də uğurla yerləşdirilmişdir. Hərrac zamanı Bankın emissiya etdiyi istiqrazlara investorlar tərəfindən göstərilən böyük maraq nəticəsində hərracda tələb təklifi üstələmişdir.</p>
            </div>    
        <div class="sosial">
                <h3>Sosial şəbəkələrdə paylaş</h3>
                <ul>
                <li><span><i class="fab fa-facebook"></i></span></li>
                <li><span><i class="fab fa-twitter-square"></i></span></li>
                <li><span><i class="fab fa-google-plus"></i></span></li>
                <li><span><i class="fab fa-linkedin"></i></span></li>
            </ul>
            </div>
</html>