
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/xeberler.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <title>Xəbərlər</title>
        <link rel="shortcut icon" type="image/png" href="../static/assets/favicon.png" />
    </head>
    <body>
        
      <div class="container">
	  <h3>Xəbərlər</h3>
    <div class="card flex-row flex-wrap w100">
        <div class="card-header border-0">
            <img src="https://www.bankrespublika.az/thumb/?width=400&url=https://www.bankrespublika.az/uploads/bankciliq%20mukafatlari1_facebook.jpg" alt="">
        </div>
		
        <div class="card-block px-2">
		<div class="top"> <div class="date">02.02.2022</div></div>
           <a href="/news/page-1" style="text-decoration: none;"><h4 class="card-title">Bank Respublika bütün nominasiyalar üzrə qalib seçildi!</h4></a>
            <p class="card-text">Bank Respublika tərəfindən həyata keçirilən layihələr bütün nominasiyalar üzrə qalib seçilərək 5 mükafat qazanıb</p>
  
        </div>

        
</div>
<div class="card flex-row flex-wrap w100">
    <div class="card-header border-0">
        <img src="https://www.bankrespublika.az/thumb/?width=400&url=https://www.bankrespublika.az/uploads/BR_logo_fb.jpg" alt="">
    </div>
    
    <div class="card-block px-2">
    <div class="top"> <div class="date">02.18.2022</div></div>
    <a href="/news/page-2"  style="text-decoration: none;"><h4 class="card-title">“Bank Respublika”nın 15 milyon manatlıq istiqrazı uğurla yerləşdirilib</h4></a>
        <p class="card-text">Hərrac zamanı Bankın emissiya etdiyi istiqrazlara investorlar tərəfindən göstərilən böyük maraq müşahidə olunub</p>

    </div>

    
</div>
    
</div>
</div>

<div class="article"> 
<div class="container">
  <div class="row justify-content-md-center" style="text-align: center;">
    <div class="col-md-2">
    <img src="../static/assets/ofis24.png">
    <span>Ofis24</span>
    </div>
    <div class="col-md-2">
    <img src="../static/assets/onlineServices.png">
    <span>Internet Ofis</span>
    </div>
    <div class="col-md-2">
    <img src="../static/assets/mobilofis.png">
    <span>Mobil Ofis</span>
    </div>
    <div class="col-md-2">
    <img src="../static/assets/pointerlogo.png">
    <span>İnternet Şöbə</span>
    </div>
    <div class="col-md-2">
    <img src="../static/assets/logoms.png">
    <span>Mobil Şöbə</span>
    </div>
  </div>
  </div> 
  

<hr class="xett">

<footer class="mainfooter" role="contentinfo">  
  <div class="footer-middle">  
  <div class="container-fluat">  
    <div class="row">  
      <div class="col-md-2 wh">  
        <div class="footer-pad">  
          <h4>Fərdi müştərilər</h4>  
          <ul class="list-unstyled">  
            <li> <a href="#"> Kartlar</a> </li>  
            <li> <a href="#">Kreditlər</a></li>  
            <li> <a href="#"> Əmanətlər</a></li>  
            <li> <a href="#">Pul köçürmələri</a></li>  
            <li> <a href="#">Bank seyfləri</a></li>  
            <li> <a href="#">Mobil Şöbə</a></li>
            <li> <a href="#">İnternet Şöbə
            </a></li>
            <li> <a href="#">Kampaniyalar</a></li>  
          </ul>  
        </div>  
      </div>  
      <div class="col-md-2 wh">  
        <div class="footer-pad">  
          <h4> Onlayn xidmətlər</h4>  
          <ul class="list-unstyled">  
            <li><a href="#"> Kart sifarişi </a> </li>  
            <li><a href="#">Kredit sifarişi</a> </li>  
            <li><a href="#">Kreditin onlayn ödənişi</a></li>  
            <li><a href="#">İnternet Şöbə</a></li>  
            <li><a href="#">Mobil Şöbə</a></li>  
            <li><a href="#">FİFD-Kalkulyatoru</a></li>  
          </ul>  
        </div>  
      </div>  
      <div class="col-md-6 col-sm-6">  
        <div class="footer-pad">  
          <h4> Bank Haqqında </h4>  
          <ul class="list-unstyled">  
            <li> <a href="#"> Bank haqqında </a> </li>  
            <li> <a href="#"> Bank rekvizitləri </a> </li>  
            <li> <a href="#">Filiallar və Şöbələr</a> </li>  
            <li> <a href="#">Valyuta məzənnələri </a> </li>  
            <li> <a href="#"> İnsan resursları </a> </li>  
            <li> <a href="#"> Hesabatlar </a> </li>  
          </ul>  
        </div>  
      </div>  
        <div class="col-md-3">  
            <p> 
                Filial və Bankomatlar</p>
                <p>Bizimlə Əlaqə </p>  
                <img src="https://www.bankrespublika.az/site/views/site/images/callcenter144.svg" alt="" srcset=""><br><br>
            <ul class="social-network social-circle">  
             <li> <a href="#" class="icoFacebook" title="Facebook"> <i class="fab fa-facebook-square"></i> </i> </a> </li>  
             <li> <a href="#" class="icoLinkedin" title="Linkedin"> <i class="fab fa-linkedin"></i> </i> </a> </li>  
    <li> <a href="#"><i class="fab fa-instagram"></i> </a> </li>  
            </ul>               
    </div>  
    </div> 

 
<hr class="xett"> 
    <div class="row">  
    <div class="col-md-6 copy">  
    <p class="text-center"> © 1992 - 2022 Bank Respublika </p>  
    </div>  
	<div class="col-md-6" id="logos">  
	<img height="30px" src="../static/assets/infobank.png">	
	<img height="30px" src="../static/assets/egov.png">
	<img height="30px" src="../static/assets/maliyyesavadliligi.png">
    </div>  
    </div>  
  </div>  
  </div>
  </div>  
</footer>  
    </body>
</html>